<!-- Load Shared SCSS (if exists) -->
{{- $sharedSCSSResource := resources.Get "scss/shared/shared.scss" | default (resources.Get "scss/main.scss") -}}
{{- if $sharedSCSSResource -}}
  {{- $sharedCSS := $sharedSCSSResource | resources.ToCSS (dict "outputStyle" "compressed") -}}
  <style type="text/css" media="all">{{ $sharedCSS.Content | safeCSS }}</style>
{{- end -}}

<!-- Load Shared JS -->
{{- $sharedJSResource := resources.Get "js/shared/shared.js" -}}
{{- $sharedJS := $sharedJSResource | js.Build (dict "minify" "true") -}}
<script>{{ $sharedJS.Content | safeJS }}</script>
