<head>
  <!-- Title -->
  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }} {{ end }}</title>

  <!-- Meta -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{end}}" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <!-- Custom Styles 
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom-styles.css"> -->

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Favicons and Manifest -->
  {{ partial "head/_favicons.html" . }}

  <!-- SEO: Google Analytics 
  {{ partial "head/_seo.html" . }}-->

  <!-- Stylesheets and Javascript {{ partial "head/_resources.html" . }}-->

  <!-- RSS 
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}} -->

  <link rel="apple-touch-icon" sizes="180x180" href="/images/logop1.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/logop1.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/logop1.png">
  <link rel="shortcut icon" href="/images/logop1.png">
  <link rel="icon" href="{{ "/images/logop1.png" | relURL }}" type="image/png">

</head>


